<ion-modal-view>
    <ion-header-bar>
        <div class="bar bar-header bar-calm">
            <button class="button" ng-click="closeModal()">back</button>
            <h1 class="title">Add Item</h1>
        </div>
    </ion-header-bar>
    <ion-content>
            <button class="button button-block button-icon icon ion-camera" ng-click="upload()">
                Upload Image
            </button>
        <form ng-submit="addCourse(data)">
            <div class="list">
                <div class="list list-inset">
                    <div class ="row">
                        <div class="col">
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Name</span>
                                <input type="text" placeholder="Name">
                            </label>
                        </div>
                        <div class="col">
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Price</span>
                                <input type="text" placeholder="Price">
                            </label>
                        </div>
                    </div>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Ingredients</span>
                        <input type="text" placeholder="Ingredients">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Description</span>
                        <input type="text" placeholder="Description">
                    </label>
                </div>
                <button class="button button-block button-positive" type="submit">
                    Add Course
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>