<ion-view view-title="Profile">
    <ion-content class="has-header">
        <div class="box">
            <div class="info">
                <div class="avatar">
                    <img src="img/avatar.jpg" alt="avatar"/>
                </div>
                <pre> {{user | json}} </pre>
                <h2 class="name">{{user.firstname}}</h2>
                <div class="position">UX/UI App Designer</div>
                <div class="links">
                    <div class="row">
                        <div class="col">
                            <div class="number">18</div>
                            <p>Followers</p>
                        </div>
                        <div class="col">
                            <div class="number">47</div>
                            <p>Following</p>
                        </div>
                        <div class="col">
                            <div class="number">10</div>
                            <p>Like</p>
                        </div>
                        <div class="col">
                            <div class="number">15</div>
                            <p>Favorites</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button ui-sref="app.category"
                                class="button-follow button button-block button-outline button-light">
                            Folllow
                        </button>
                    </div>
                </div>
                <!--Start of the location ticker-->
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Enter your Pickup Location" location-suggestion
                               location="location"
                               ng-model="location.formatted_address">
                    </label>
                </div>
                <script id="location.html" type="text/ng-template">
                    <ion-modal-view>
                        <ion-header-bar class="item-input-inset">
                            <label class="item-input-wrapper">
                                <i class="icon ion-ios7-search placeholder-icon"></i>
                                <input type="search" ng-model="search.query" placeholder="Search">
                            </label>
                        </ion-header-bar>
                        <ion-content>
                            <ion-list>
                                <ion-item ng-show="search.error">
                                    {{search.error}}
                                </ion-item>
                                <ion-item ng-repeat="suggestion in search.suggestions"
                                          ng-click="choosePlace(suggestion)">
                                    {{suggestion.description}}
                                </ion-item>
                            </ion-list>
                            <img src="https://developers.google.com/maps/documentation/places/images/powered-by-google-on-white.png"
                                 alt=""/>
                        </ion-content>
                    </ion-modal-view>
                </script>
            </div>
        </div>
    </ion-content>
</ion-view>